@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 30px 30px;
    background-color: whitesmoke;
}

.day-date {
    padding: 10px 20px;
}

.day {
    float: left;
}

.date {
    float: right;
}

.logo {
    clear: both;
    overflow: auto;
    border-top: 1px solid rgb(194, 194, 194);
 
}

.logo img {
    width: 15%;
    padding: 10px 20px;
    float: left;
}

.logo h1 {
    width: 80%;
    margin: 20px 0 0 0;
    font-size: 70px;
    float: left;
    text-align: center;
}
.headline{
    
    border-top: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headline h2{
    margin: 16px 20px;
    font-size: 20px;
}
.headline ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.headline ul li{
    list-style: none;
   
    
}

.headline ul li a{
    text-decoration: none;
    color:black;
    padding:  16px 20px;
    
}

.headline ul li a:hover{
    background-color: black;  
    color: azure;
}

.title{
    padding: 20px 30px;
    display: flow-root;
    border-top: 1px solid rgb(194, 194, 194);

}
.title img{
    width: 450px;
    float: left;

}

.title h2{
    margin: 0;
    font-size: 50px;
}

.title-right{
    width: 60%;
    float: left;
    padding-left: 20px;
    text-align: justify;

}
.body-1 ,.body-2{
    margin: 0 20px;
    text-align: justify;
}
.body-2{
    background-color: brown;
}
.body-2 p {
    margin-top: 0;
    float: left;
    width: 65%;
}
.body-2 img{
    float: right;
    width: 400px;
}
.column{
    clear: both;
    column-count: 3;
    column-rule: 1px solid gray;
}
.column img{
    width: 400px;
}

